/env
.env
/VectorDB
/.venv
.venv
venv
combinar_excels
combinar_txt
excel_miarcade.xlsx
metadata.txt
product_info.txt
product_keywords.xlsx
products.txt
urls_encontrados.txt
video_keywords.xlsx
videos.txt